{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<h1>Article index</h1>

<table class="table">
    <thead>
        <tr class="article_tr_titre">
            <th>Titre</th>
            <th>auteur</th>
            <th>Date</th>
            <th>contenu</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr class="article_tr_contenu">
            <td>{{ article.titre }}</td>
            <td>{{ article.auteur.pseudo}}</td>
            <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
            <td>{{ article.contenu }}</td>
            <td class="action_button_article">
                <a href="{{ path('app_article_show', {'id': article.id}) }}">voir</a>
                <a href="{{ path('app_article_edit', {'id': article.id}) }}">modifier</a>
                <a href="{{ path('app_article_new') }}">Poster un nouvel article</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}